/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.svn
/public/vue/node_modules
/public/vue/dist/*
/public/vue/src.7z
source_change.7z
/public/static
/firebase_sdk
